if TARGET_GEODATA

config SYS_BOARD
	default "geodata"

config SYS_VENDOR
	default "jacto"

config SYS_CONFIG_NAME
	default "geodata"

config IMX_CONFIG
	default "board/jacto/geodata/imximage.cfg"

endif
